*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background: #bdc3c7; 
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(211, 30%, 24%, 0.712), hsla(204, 8%, 76%, 0.623)), url(../img/portadawac.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(211, 30%, 24%, 0.712), hsla(204, 8%, 76%, 0.623)), url(../img/portadawac.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main .contenedor-sobre-wac{
    padding: 30px 0 60px 0;
}

.contenedor-sobre-wac{
    display: flex;
    justify-content: space-evenly;
}

.textos p{
    padding: 0px 0px 8px 15px;
    font-weight: 300;
    text-align: justify;
}

.galeria-sobre-wac{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-sobre-wac{
    width: 60%;
    position: relative;
}

.imagen-sobre-wac > img{
    width: 100%;
    height: 90%;
}

.imagen-caracteristicas{
    width: 48%;
    margin-left: 20px;
}

.sobre-wac .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    margin-right: 20px;
}

.Sobre-Forms{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Info p{
    padding: 0px 0px 10px 15px;
    font-weight: 300;
    text-align: justify;
}

.imagen-sobre-forms{
    width: 60%;
    position: relative;
}

.imagen-sobre-forms > img{
    width: 100%;
    height: 90%;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #021B79;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}